html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}

.main {
  width: 90vw;
  padding: 1rem 0rem 3rem 0rem;
}

.icon {
  width: 4rem;
  height: 4rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 0.4rem solid #2d3c49
}

.name {
  font-size: 3rem;
}

.job-title {
  font-size: 1.25rem;
  text-align: right;
  margin: 0;
}

.main-image-container {
  margin-top: 2rem;
  width: 90vw;
  height: 25rem;
  background: 
  url(https://christianpaul.xyz/images/code.jpg)
  top center
  no-repeat;
  background-size: cover;
}

.featured-work-title {
  color: #7d97ad;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}

.projects {
  display: flex;
  flex-direction: column;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-container + .project-container {
  margin-top: 1rem;
}

.project-title {
  font-size: 2rem;
  margin: 0.5rem
}

.project-image {
  width: 90vw;
}

@media (min-width: 700px) {
  .project-image {
    width: 80vw;
  }
}

@media (min-width: 850px) {
  .main-image-container {
    height: 30rem;
  }

  .projects {
    flex-direction: row;
    justify-content: space-between;
  }

  .project-container + .project-container {
    margin-top: 0rem;
  }

  .project-image {
    width: 28.5vw;
  }
}

@media (min-width: 1300px) {
  .project-image {
    width: 28.5vw;
  }

  .main-image-container {
    height: 35rem;
  } 
}

@media (min-width: 1500px) {
  .project-image {
    width: 28.5vw;
  }

  .main-image-container {
    height: 40rem;
  } 
}

@media (max-width: 450px) {
  .name {
    font-size: 2.5rem;
  } 

  .job-title {
    font-size: 1rem;
  }
}

@media (max-width: 370px) {
  .name {
    font-size: 1.5rem;
  } 

  .job-title {
    font-size: 0.75rem;
  }
}

a {
  text-decoration: none;
  color: #02b3e4;
}